// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

// Font Variables
$font-family-normal: "Open Sans", sans-serif;
$font-family-heading: "Poppins", sans-serif;
$font-size-normal: 18px;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Screen Variables
$screen-extra-small: "(max-width: 599px)";
$screen-small: "(min-width: 600px)";
$screen-medium: "(min-width: 800px)";
$screen-large: "(min-width: 1000px)";
$screen-extra-large: "(min-width: 1200px)";

// Global Color Variables
$color-pink: hsl(322, 100%, 66%);
$color-bright-pink: hsl(322, 100%, 80%);
$color-white: hsl(0, 0%, 100%);

// Light Mode Color Variables
$color-background-header: hsla(0, 0%, 100%, 0.95);
$color-background-one: hsl(0, 0%, 100%);
$color-background-two: hsl(207, 100%, 98%);
$color-background-footer: hsl(192, 100%, 9%);
$color-text: hsl(0, 0%, 0%);
$color-text-faded: hsl(0, 0%, 20%);

// User Experience Variables
$time-transition-normal: 0.5s;
